<nav id="wmNavBar" class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="https://wiremock.org" target="_blank">
    <img id="wmLogo" alt="WireMock" [src]="'assets/img/wiremock-concept-icon-01.png'" />Wiremock</a
  >
  <button
    #navBarToggler
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    aria-controls="navbarSupportedContent"
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle navigation">
    <fa-icon icon="bars"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul id="wmNavigation" class="navbar-nav">
      <!--<li class="nav-item active">-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/mappings" routerLinkActive="active">Mappings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/matched" routerLinkActive="active">Matched</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/unmatched" routerLinkActive="active">Unmatched</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/state" routerLinkActive="active">StateMachine</a>
      </li>
    </ul>
    <div
      id="wmRecordingIndicator"
      class="navbar-text text-danger font-weight-bold blinkMe d-flex"
      *ngIf="currentRecordingStatus === RecordingStatus.Recording">
      <fa-icon icon="dot-circle"></fa-icon>
      Recording
    </div>
    <div
      id="wmThemeSwitcherButton"
      ngbDropdown
      [placement]="window.innerWidth < 576 ? 'bottom-left' : 'bottom-right'"
      class="nav-item dropdown"
      display="dynamic">
      <a id="wmThemeSwitcher" class="nav-link dropdown-toggle" ngbDropdownToggle>
        <fa-icon [icon]="theme === 'auto' ? 'circle-half-stroke' : theme === 'dark' ? 'moon' : 'sun'"></fa-icon>
      </a>
      <div ngbDropdownMenu id="wmThemeSwitcherMenu">
        <button type="button" class="dropdown-item" (click)="changeTheme('auto')">
          <fa-icon class="fa-sm" icon="circle-half-stroke"></fa-icon>
          Auto
        </button>
        <button type="button" class="dropdown-item" (click)="changeTheme('light')">
          <fa-icon class="fa-sm" icon="sun"></fa-icon>
          Light
        </button>
        <button type="button" class="dropdown-item" (click)="changeTheme('dark')">
          <fa-icon class="fa-sm" icon="moon"></fa-icon>
          Dark
        </button>
      </div>
    </div>
    <div
      id="wmSettingsButton"
      ngbDropdown
      [placement]="window.innerWidth < 576 ? 'bottom-left' : 'bottom-right'"
      class="nav-item dropdown"
      display="dynamic">
      <a id="wmSettings" class="nav-link dropdown-toggle" ngbDropdownToggle>
        <fa-icon icon="cog"></fa-icon>
        Settings
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <button type="button" class="dropdown-item" (click)="resetAll()">
          <fa-icon icon="trash"></fa-icon>
          Reset all
        </button>
        <div class="dropdown-divider"></div>
        <button
          type="button"
          class="dropdown-item"
          (click)="startRecording()"
          [disabled]="currentRecordingStatus === RecordingStatus.Recording">
          <fa-icon icon="dot-circle"></fa-icon>
          Start recording
        </button>
        <button
          type="button"
          class="dropdown-item"
          (click)="stopRecording()"
          [disabled]="currentRecordingStatus !== RecordingStatus.Recording">
          <fa-icon icon="stop"></fa-icon>
          Stop recording
        </button>
        <button type="button" class="dropdown-item" (click)="snapshot()">
          <fa-icon icon="camera"></fa-icon>
          Snapshot
        </button>
        <div class="dropdown-divider"></div>
        <button
          type="button"
          class="dropdown-item"
          (click)="setAutoRefresh(!autoRefreshEnabled)"
          ngbTooltip="En/disable reload of mappings/requests which allows to read content more easily when e.g. a test is running">
          <fa-icon icon="sync-alt"></fa-icon>
          {{ autoRefreshEnabled ? "Disable auto refresh" : "Enable auto refresh" }}
        </button>
        <div class="dropdown-divider"></div>
        <button type="button" class="dropdown-item" (click)="shutdown()">
          <fa-icon icon="power-off"></fa-icon>
          Shutdown
        </button>
      </div>
    </div>
  </div>
</nav>
<wm-message></wm-message>
<router-outlet></router-outlet>
