@import "../../../variables";

#wmLogo {
  height: 20px;
  margin-right: 10px;
}

#wmSettings, #wmThemeSwitcher {
  cursor: pointer;
}

#wmSettingsButton {
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
  display: flex;
  align-items: center;
}

nav {
  padding: 0 1rem !important;
  border-bottom: 1px solid $gray-300;
}

#wmNavigation {
  flex: 1;
}

#wmRecordingIndicator {
  padding: $nav-link-padding-y $nav-link-padding-x;
  display: flex;
  align-items: center;

  fa-icon {
    margin-right: 0.25rem;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

#wmThemeSwitcherButton {
  margin-right: 1rem;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}

#wmThemeSwitcherMenu {
  button {
    display: flex;
    align-items: center;
  }

  fa-icon {
    display: flex;
    align-items: center;
    width: 21px;
    height: 21px;
  }
}
