@import "../../../variables";

.wmListItem {
  border-radius: 0;
  border-left: 0;
  font-size: 12px;
  display: flex;
  padding: 10px;
}

.wmListItemTextContainer {
  flex: 1 auto;
}

.wmListItem:not(.active):hover {
  background-color: rgba(255, 135, 0, 0.21);
  cursor: pointer;
}

.wmListItemTitle {
  font-weight: bold;
  word-break: break-word;
}

.wmListItemSubtitle {
  word-break: break-word;
}

.wmProxyButtons ::ng-deep label.active {
  opacity: 1;
}

.wmListGroup {
  margin-top: -1px;
}

.wmListGroup > .wmListItem:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wmProxyGroup {
  background-color: #666;
  color: $body-color;

  .wmProxyDisable {
    // Fix issues with ng-bootstraps popover, which adds an element to the button group and then css is broken.
    border-bottom-right-radius: $btn-border-radius !important;
    border-top-right-radius: $btn-border-radius !important;
  }
}

.wmIndicatorContainer {
  margin-left: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;

  fa-icon {
    font-size: 10px;
    height: 12px;
    display: flex;
    align-items: center;
  }
}

.wmProxyContainer {
  margin-left: 4px;
  align-self: flex-start;
}
