<ngb-pagination
  *ngIf="filteredItems?.length || 0 > 0"
  [collectionSize]="items?.length || 0"
  [pageSize]="pageSize"
  [size]="'sm'"
  [page]="page"
  (pageChange)="onPageChange($event)"></ngb-pagination>
<div #childrenContainer *ngIf="filteredItems?.length || 0 > 0" class="wmHolyGrailScroll wmListView">
  <div class="wmListScrollWrapper">
    <ul class="list-group wmListGroup">
      <li
        #listChildren
        [id]="item.getId()"
        class="list-group-item wmListItem"
        *ngFor="let item of filteredItems"
        [class.active]="item === activeItem"
        (click)="selectActiveItem(item)">
        <div class="wmListItemTextContainer">
          <div class="wmListItemTitle">{{ item.getTitle() }}</div>
          <div class="wmListItemSubtitle">{{ item.getSubtitle() }}</div>
        </div>
        <div class="wmIndicatorContainer">
          <fa-icon icon="paperclip" *ngIf="item.hasFile()"></fa-icon>
          <fa-icon icon="save" *ngIf="item.isPersistent()"></fa-icon>
        </div>
        <form *ngIf="item.isProxy()" class="wmProxyContainer">
          <div class="btn-group wmProxyGroup" role="group">
            <input
              type="radio"
              class="btn-check"
              name="wmProxy"
              [id]="item.getId() + '-wmProxyEnable'"
              autocomplete="off"
              [checked]="item.isProxyEnabled()"
              (click)="enableProxy(item)" />
            <label
              class="btn btn-outline-info wmProxyEnable"
              [for]="item.getId() + '-wmProxyEnable'"
              popoverTitle="Proxying"
              ngbPopover="Restore proxying and forward requests to specified url"
              triggers="mouseenter:mouseleave"
              placement="bottom-right"
              >I</label
            >

            <input
              type="radio"
              class="btn-check"
              name="wmProxy"
              [id]="item.getId() + '-wmProxyDisable'"
              autocomplete="off"
              [checked]="!item.isProxyEnabled()"
              (click)="disableProxy(item)" />
            <label
              class="btn btn-outline-info wmProxyDisable"
              [for]="item.getId() + '-wmProxyDisable'"
              popoverTitle="Proxying"
              ngbPopover="Disable proxying and use mapping response"
              triggers="mouseenter:mouseleave"
              placement="bottom-right"
              >0</label
            >
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>
