/*

Monokai-like style for hljs (Christopher Holomek)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  color: #f8f8f2;
}

.hljs-comment,
.hljs-quote {
  color: #75715e;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #f92672;
}

.hljs-string {
  color: #e6db74;
}

.hljs-literal {
  color: #ae81ff;
}

.hljs-number {
  color: #ae81ff;
}

.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-subst {
  color: #a6e22e;
}

.hljs-tag {
  color: #fff;
}

.hljs-name {
  color: #f92672;
}

.hljs-type {
  color: #66d9ef;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #a6e22e;
}

.hljs-params {
  color: #fd971f;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
