<div class="modal-header">
  <h4 class="modal-title">Wiremock recorder</h4>
  <button
    type="button"
    class="btn-close"
    tabindex="-1"
    aria-label="Close"
    (click)="activeModal.dismiss('cancel')"></button>
</div>
<div class="modal-body">
  <input #url class="form-control" type="text" placeholder="Target url" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(url.value)">Start</button>
  <button type="button" class="btn btn-outline" (click)="activeModal.dismiss('cancel')">Cancel</button>
</div>
