<wm-layout
  [items]="files ? files : []"
  [activeItemId]="activeItemId"
  (activeItemChange)="onActiveItemChange($event)"
  [supportsTreeView]="true"
  [supportsListView]="false">


  <ng-template #actions let-activeItem>
    <div class="btn-group" role="group">
      <input type="file" class="file-input hidden"
             (change)="uploadFile($event)" #fileUpload>
      <button type="button" class="btn btn-secondary" (click)="fileUpload.click()">
        <fa-icon icon="upload"></fa-icon>
        Upload
      </button>
      <button type="button" class="btn btn-secondary" (click)="downloadFile(activeItem)">
        <fa-icon icon="download"></fa-icon>
        Download
      </button>
      <button type="button" class="btn btn-secondary" (click)="copyBodyFileName(activeItem)">
        <fa-icon icon="copy"></fa-icon>
        Copy BodyFileName
      </button>
      <button type="button" class="btn btn-secondary" (click)="deleteFile(activeItem)">
        <fa-icon icon="trash"></fa-icon>
        Delete
      </button>
    </div>
  </ng-template>
  <ng-template #content let-activeItem>
    <div *ngIf="activeItem" id="wmFileContent" class="container-fluid column">
      Code
      <wm-code-editor
        #editor
        [code]="fileContent"
        [language]="language"
        [options]="codeReadOnlyOptions"
        (valueChange)="editorValueChange($event)"></wm-code-editor>
    </div>
  </ng-template>

</wm-layout>
