@import "../../../variables";

.card-body {
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.table {
  height: 1px;
}

.table td {
  padding: .25em;
  height: 100%;

  wm-code-entry {
    height: 100%;
  }
}

.table tr > td:not(:first-child) {
  padding: 0;
}

.table tr > td:first-child {
  word-break: break-word;
}

.wmTableColumnKey {
  width: 150px;
}

.wmTableColumnValue ::ng-deep code {
  max-height: 500px;
}

.wmStubMappingLink {
  display: inline-block;
  padding: 7px;
  font-size: 14px;
}


.wmBodyFileName {
  display: flex;
  align-items: center;

  button {
    border-radius: 0;
  }
}
