@import "../../../variables";

.card-body {
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.table tr > td:not(:first-child) {
  padding: 0;
  background-color: #232323;
}

.table tr > td:first-child {
  word-break: break-word;
}

.wmTableColumnKey {
  width: 150px;
}

.wmTableColumnValue ::ng-deep code {
  max-height: 500px;
}

.wmStubMappingLink {
  display: inline-block;
  padding: 7px;
}
