#wmAlertContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-width: 50%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

#wmAlertContainer > * {
  pointer-events: auto;
}

.wmAlertText {
  white-space: pre-wrap;
}

img {
  height: 16px;
}

.wmMessageHeader {
  display: flex;
  align-items: center;
}
